body {
    background-color: #21b2a6;
    margin: 0;
    padding: 0;
}
.site {
    color: #EAEAEA;
}
a {
    text-decoration: none;
    color: inherit;
}
.site #main {
    margin: auto;
    width: 90%;
}
.site #header {
    background: #3C4048;
    width: 100%;
    height: 75px;
    line-height: 75px;
}
.site #header h1 {
    margin: 0;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: left;
    position: absolute;
    line-height: inherit;
    left: 25px;
    letter-spacing: 3px;
}
.site #mainContent {
    margin: 2px;
    padding: 0 0px 0 0px;
}
.site #mainContent #sidebarLeft {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}
.site #mainContent #content {
    margin: 5px 5px 5px 213px;
    padding: 0px 10px;
    border-left: 3px solid #3C4048;
    height: auto;
}
.site #mainContent #content h1 {
    font-family: Verdana;
    font-size: larger;
    text-align: center;
}
.site #foot {
    margin: 2px;
    padding: 0 0px 0 0px;
    border-top: 1px solid #3C4048;
    height: 30px;
}
.site #foot p {
    padding: 0px 10px;
    font-family: Verdana;
    font-size: 10px;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    font-family: Verdana;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 200px;
}
#menu a {
    display: block;
    border-bottom: 1px solid #3C4048;
    border-top: 1px solid #3C4048;
    margin: 0;
    padding: 6px 12px;
}
#menu a:hover {
    background: #3C4048;
    font-weight: bold;
}
#leftPhoto {
    font-style: italic;
    border-right: 2px solid #3C4048;
    margin: 5px;
    float: left;
}
#leftPhoto img {
    width: 40%;
}
#chunk {
    padding-left: 15px;
}
#content h1 {
    background-color: #3C4048;
    padding: 10px 0 10px 0;
    letter-spacing: 1px;
}